.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #282c34;
  color: white;
  font-family: "Arial", sans-serif;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#clock {
  font-size: 3em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#weather {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  z-index: 2;
}

#login-form:hover,
#todo-form:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#login-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  width: 300px;
}

#login-form input {
  outline: none;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

#login-form button {
  width: calc(100%);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 181, 83);

  color: white;
  cursor: pointer;
}

#todo-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  /* 수정된 부분 */
  overflow-anchor: none;
}

#todo-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

#todo-form button {
  width: calc(100%);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  max-height: 100px; /* 수정된 부분 */
  overflow-y: auto; /* 수정된 부분 */
  position: relative;
  z-index: 2;
  margin-top: 10px; /* 수정된 부분 */
}

#todo-list li {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-list li span {
  flex-grow: 1;
}

#todo-list button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-left: 8px;
}

#quote {
  position: absolute;
  bottom: 20px;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInOut 3s ease infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#quote::after {
  content: "❤"; /* 하트 모양 */
  display: inline-block;
  margin-left: 4px; /* 하트와 텍스트 간격 조정 */
  animation: rotateHeart 2s linear infinite; /* 회전 애니메이션 적용 */
  transform-origin: center;
  transform-style: preserve-3d;
}

@keyframes rotateHeart {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
